 <!------- Preheader ------->
<div class="main-preheader text-white py-2">
  <div class="container d-flex justify-content-between align-items-center small flex-wrap">
    
    <!-- Teléfono y correo -->
    <div class="d-flex align-items-center flex-wrap">
      <div class="me-3 d-flex align-items-center">
        <i class="fa-solid fa-phone me-1"></i>
        <span>+51 923 626 053</span>
      </div>

      <div class="me-3 text-white-50">|</div>

      <div class="d-flex align-items-center">
        <i class="fa-solid fa-envelope me-2"></i>
        <span>contacto&#64;farmasol.com</span>
      </div>
    </div>

    <!-- Redes sociales -->
    <div class="d-flex align-items-center">
      <a target="_blank" href="https://www.facebook.com/farmaciadeasol" class="text-white me-3"><i class="fa-brands fa-facebook-f"></i></a>
      <a target="_blank" href="https://www.instagram.com/farmadeasol/" class="text-white me-3"><i class="fa-brands fa-instagram"></i></a>
      <a target="_blank" href="https://l.instagram.com/?u=https%3A%2F%2Fapi.whatsapp.com%2Fsend%2F%3Fphone%3D51923626053%26type%3Dphone_number%26app_absent%3D0%26wame_ctl%3D1&e=AT0GszbW4rMHX3S4inMFyZIlbj5ZLOtxxOrbW1P5j9p65y1K3e5QSqdGc4pTXtSm7U5fUrYhqBrO77YG3vG5OWAO4RlyTy8DHZERgzE-Z_Zl4nLm" class="text-white me-3"><i class="fa-brands fa-whatsapp"></i></a>
    </div>

  </div>
</div>


<!------- Header ------->
<!-- Agrege la clase "sticky-top shadow-sm" ,para que nav principal se quede pegado al tope de la pantalla al hacer scroll -->
<nav class="navbar navbar-expand-lg bg-light border-bottom py-2 main-header sticky-top shadow-sm">
  <div class="container justify-content-between align-items-center">
    <!-- Logo -->
    <a class="navbar-brand d-flex align-items-center" routerLink="productos">
        <img src="img/farmasol.png" alt="logo-farmasol" class="img-fluid" style="max-height: 50px;">
    </a>

    <!-- Menú de Navegación -->
    <div class="d-none d-lg-flex align-items-center">
      <ul class="navbar-nav flex-row align-items-center">
        <li class="nav-item">
          <a class="nav-link px-2" routerLink="productos">Productos</a>
        </li>
        <span class="divider">|</span>
        <li class="nav-item">
          <a class="nav-link px-2" routerLink="nosotros">Nosotros</a>
        </li>
        <span class="divider">|</span>
        <li class="nav-item">
          <a class="nav-link px-2" routerLink="contacto">Contacto</a>
        </li>
      </ul>
    </div>

    <!-- Buscador y carrito -->
    <div class="d-flex align-items-center">
      <a href="#" class="text-dark me-3">
        <i class="bi bi-search" style="font-size: 1.25rem;"></i>
      </a>
      <!-- Login / Logout -->
      <ng-container *ngIf="!userLoginOn; else loggedIn">
        <a routerLink="login" class="text-dark me-3 d-flex align-items-center">
          <i class="fa fa-user me-1"></i>
          <span class="d-none d-md-inline">Iniciar sesión</span>
        </a>
      </ng-container>

      <ng-template #loggedIn>
        <a routerLink="/" class="text-dark me-3 d-flex align-items-center" >
          <i class="fa fa-sign-out-alt me-1"></i>
          <span class="d-none d-md-inline">Cerrar sesión</span>
        </a>
      </ng-template>

      <!-- <ng-container *ngIf="!userLoginOn; else loggedIn">
        <a routerLink="/login" class="text-dark me-3 d-flex align-items-center">
          <i class="fa fa-user me-1"></i>
          <span class="d-none d-md-inline">Iniciar sesión</span>
        </a>
      </ng-container>
      <ng-template #loggedIn>
        <a href="#" (click)="logout()" class="text-dark me-3 d-flex align-items-center">
          <i class="fa fa-sign-out-alt me-1"></i>
          <span class="d-none d-md-inline">Cerrar sesión</span>
        </a>
      </ng-template> -->

      <!-- <a routerLink="login" class="text-dark me-3 d-flex align-items-center"> 
        <i class="fa fa-user me-1"></i> 
        <span class="d-none d-md-inline">Iniciar sesión</span> 
      </a> -->

      <a routerLink="carrito" class="text-dark d-flex align-items-center">
        <i class="fa fa-shopping-cart me-2"></i>
        (<span class="fw-bold">{{carritoService.cantidad()}}</span>)
      </a>
    </div>
  </div>
</nav>